<nav>
    <div class="nav-wrapper">
        <a href="index.html" class="brand-logo">Pandemic Planner</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="signin.html">Sign In</a></li>
            <li><a href="signup.html">Sign Up</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="profile.html">Profile</a></li>
    <li><a href="signin.html">Sign In</a></li>
    <li><a href="signup.html">Sign Up</a></li>
</ul>
<div class="container">
    <h1 id="title">
        Pandemic Planner:

        <p>Zombie Edition</p>
    </h1>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="./assets/images/cdc_zombie_comic.jpg"></div>
</div>
<div class="section black">
    <div class="row container">
        <div id="pandemic_survey_results">
            <h2 class="header">Pandemic Survey Results</h2>
            <canvas id="chartjs-4" class="chartjs" width="1172" height="586"
                style="display: block; height: 293px; width: 586px; justify-content: center;"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script>
                var ctx = document.getElementById("chartjs-4");
                var myPieChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ["Red", "Blue", "Yellow"],
                        datasets: [{
                            label: "Pandemic Dataset",
                            data: [300, 50, 100],
                            backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                        }]
                    }

                });
            </script>

            <p> Results of average cases during pandemic after taking the survey</p>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="./assets/images/cdc_zombie_comic.jpg"></div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><a class="grey-text text-lighten-3" href="#title">Pandemic Planner</a> </h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#pandemic_survey_results">Pandemic Survey
                            Results</a></li>
                    <li><a class="grey-text text-lighten-3" href="signin.html">Sign In</a></li>
                    <li><a class="grey-text text-lighten-3" href="signup.html">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Pandemic Planner
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script> $(document).ready(function () {
        $('.sidenav').sidenav();
    });
    $(document).ready(function () {
        $('.parallax').parallax();

    });</script>