<nav>
    <div class="nav-wrapper">
        <a class="{{#if active.homepage}}active{{/if}}" href="/homepage" class="brand-logo">Pandemic Planner</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="{{#if active.profile}}active{{/if}}" href="/profile">Profile</a></li>
            <li><a class="{{#if active.signin}}active{{/if}}" href="/signin">Sign In</a></li>
            <li><a class="{{#if active.signup}}active{{/if}}" href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a class="{{#if active.profile}}active{{/if}}" href="/profile">Profile</a></li>
    <li><a class="{{#if active.signin}}active{{/if}}" href="/signin">Sign In</a></li>
    <li><a class="{{#if active.signup}}active{{/if}}" href="/signup">Sign Up</a></li>
</ul>
<div class="parallax-container zombie">
    <div class="container">
        <h1 id="title"> Pandemic Planner:</h1>
        <h2>Zombie Edition</h2>
        <div class="zombie" style="text-align: center;"><img src="./assets/images/zombie.png"></div>
    </div>
    <div class="parallax"></div>
</div>
<div class="section black">
    <div class="row container">
        <div id="pandemic_survey_results">
            <h2 class="header">How it works</h2>
            <p>Designed to work dynamically to show the user how prepared they are in the event of a pandemic</p>
            <br>
            <p>User creates their own profile</p>
            <br>
            <p>They are able to take a survey to determine their level of preparedness which will then show them a
                score.</p>
            <br>
            <p>The score will be algorithmic.
                Level of preparedness will range on a scale from human to zombie</p>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
    </div>
</div>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Pandemic Planner
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script> $(document).ready(function () {
        $('.sidenav').sidenav();
    });
    $(document).ready(function () {
        $('.parallax').parallax();

    });</script>