    <nav>
        <div class="nav-wrapper">
            <a class="{{#if active.signup}}active{{/if}}" href="/homepage" class="brand-logo">Pandemic Planner</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="{{#if active.homepage}}active{{/if}}" href="/homepage">Pandemic Planner</a></li>
                <li><a lass="{{#if active.signup}}active{{/if}}" href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a class="{{#if active.homepage}}active{{/if}}" href="/homepage">Pandemic Planner</a></li>
        <li><a class="{{#if active.signup}}active{{/if}}" href="/signup">Sign Up</a></li>
    </ul>
    <h2>Enter at your own risk!</h2>
  <div class="section black">
    <div class="row container">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Pandemic Planner
        </div>
    </div>
</footer>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script> $(document).ready(function () {
            $('.sidenav').sidenav();
    });</script>
  \