<nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">Pandemic Planner</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="./index">Pandemic Planner</a></li>
                <li><a href="./signin">Sign In</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="./index">Pandemic Planner</a></li>
        <li><a href="./signin">Sign In</a></li>
    </ul>
    <div class="container">
        <h1 style="color:black">Create your account</h1>
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Enter user name" id="user_name" type="text" class="validate">
                  <label for="user_name">Username</label>
                </div>
            </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
              </div>
              <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
          </div>
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/js/signup.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script> $(document).ready(function () {
            $('.sidenav').sidenav();
    });</script>