<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

{{!-- TOP 5 OR 10 ITEMS (HARD/SOFT) What are they based on the CDC document? }}
{{! 
    ITEM 1= ? 
    ITEM 2= ?
    ITEM 3= ?
    ITEM 4= ?
    ITEM 5= ? 
}}
    
{{!-- Item 1: 1*= , 2*= , 3*= , 4*= , 5*=  }}

{{!-- Item 2: 1*= , 2*= , 3*= , 4*= , 5*=  }}

{{!-- Item 3: 1*= , 2*= , 3*= , 4*= , 5*=  }}

{{!-- Item 4: 1*= , 2*= , 3*= , 4*= , 5*=  }}

{{!-- Item 5: 1*= , 2*= , 3*= , 4*= , 5*=  }}

{{!--How do we identify/utilize the required technologies 
to make dynamic/updateable profiles that display to the user their
current level of preparedness across our predetermined hard/soft item 
list and self scoring system. We need the self scoring to interact 
with the user's profile and the user's associated database,
so that whenever a user's preparedness level changes they can easily 
change their profile score(s) to update their/our database which then 
updates their profile simultaneously. }}

{{!-- Also we need to figure out the legend first before we can weight
for an overall score algorithm that takes into account user self auditing
feedback based on some aggregate}}